<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MacHost" value="host" />
    <add key="MacHostPort" value="22" />
    <add key="MacHostUser" value="username" />
    <add key="MacHostPassword" value="password" />
    <add key="RemoteSimulatorPath" value="C:\Program Files (x86)\Xamarin\Simulator\Xamarin.Simulator.Windows.exe" />
  </appSettings>
</configuration>
